html,
body {
  height: 100%;
  margin: 0;
}

.tela-inicial {
  height: 100%;
}

.rounded {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.3));
}

.btn-primary {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #dc8686;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btn-primary:hover {
  background-color: #fb9999;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.btn-primary:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
